{% autoescape true %}
<html>
    <head>
        <title>Is there a game night this week?</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
        <h1>About</h1>
        <p>Allow people to invite gamenight over to their house. Select the days
        you want to host, and fill in the details (where, when, notes.)</p>
        <p>If multiple people are volunteering for the same weekend, we allow
        selecting how important it is for you to host. If you are willing to
        host, but have no particular attachment to this weekend, select 'can.'
        If you have a preference to host this week, select 'want.' And if there
        is a special occasion, and it is really important for you to host,
        select 'insist.'</p>
        <p>When scheduling a gamenight the system will select someone randomly
        from the same priority level. That said, if you see someone else has
        asked to host on a weekend you particularly want, it is recommend you
        talk to them and have one or the other withdraw.</p>

        <h1>Current Schedule</h1>
        <ul>
            {% for gn in scheduled %}
                <li><span class="date">{{ gn.date.strftime('%x') }}</span> -
                    <span class="status">{{ gn.status }}</span>
                    {% if gn.status == 'Yes' %}
                        <span class="label">Where:</span>
                        <span class="location">{{ gn.location }}</span>
                        <span class="label">Host:</span>
                        <span class="location">{{ gn.owner.get().name }}</span></br>
                    {% endif %}
                    {% if gn.notes %}
                        <span class="notes">{{ gn.notes }}</span>
                    {% endif %}
                    {% if gn.owner == user or admin %}
                        <a href="/edit?gnid={{ gn.key.id() }}">Edit...</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <h1>Invitations</h1>
        <ul>
            {% for inv in invitations %}
                <li><span class="label">When:</span>
                    <span class="date">{{ inv.date }}</span> @
                    <span class="label">Where:</span>
                    <span class="location">{{ inv.location }}</span>
                    <span class="label">Host:</span>
                    <span class="host">{% if inv.owner %}
                        {{ inv.owner.get().name }}
                    {% else %}
                        N/A
                    {% endif %}</span>
                    <span class="label">Priority:</span>
                    <span class="priority">{{ inv.priority }}</span></br>
                    {% if inv.notes %}
                        <span class="notes">{{ inv.notes }}</span>
                    {% endif %}
                    {% if inv.owner == user or admin %}
                        <a href="/edit?appid={{ inv.key.id() }}">Withdraw...</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        Invite people over!<br />
        {% if invite_errors %}
            <span class="error">{{ invite_errors }}</span>
        {% endif %}
        <form method="post">
            <ul>
                <li><span class="label">When:</span>
                    <input type="text" name="when"
                        value="{{ when }}" /></li>
                <li><span class="label">Where:</span>
                    <input type="text" name="where"
                        value="{{ where }}" /></li>
                <li><span class="label">Priority:</span>
                    <select name="priority">
                        <option {% if priority == 'Can' %}selected{% endif %}>Can</option>
                        <option {% if priority == 'Want' %}selected{% endif %}>Want</option>
                        <option {% if priority == 'Insist' %}selected{% endif %}>Insist</option>
                    </select></li>
                <li><span class="label">Notes:</span>
                    <input type="text" name="notes" value="{{ notes }}" /></li>
            </ul>

            <input type="submit" name="invite" value="Save"/>
        </form>

        <h1>Preferences</h1>
        <form method="post">
            <ul>
                <li><label>Default location:
                    <input type="text" name="default"
                        value="{{ default }}" /></label>
            </ul>
            <input type="submit" name="preferences" value="Save"/>
        </form>

        {% if admin %}
            <h1>Users</h1>
            <form method="post">
                <table>
                    <tr><th>User</th><th>Name</th><th>Color</th><th>Admin</th></tr>
                    {% for user in users %}
                        <tr><td>{{ user.key.id() }}</td>
                            <td><input type="text" name="name"
                                       value="{{ user.name }}" /></td>
                            <td><input type="text" name="color"
                                       value="{{ user.color }}" /></td>
                            <td><input type="checkbox" name="admin"
                                {% if user.superuser %}checked{%endif%} /></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" name="users" value="Save"/>
            </form>
        {% endif %}

        You are logged in as {{ user }}. <a href="{{ logout }}">Log out</a>
    </body>
</html>
{% endautoescape %}

<!-- # vim: set ts=4 sts=4 sw=4 et: -->
