<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
    <head>
        <title>Is there a game night this week?</title>
        <link type="text/css" rel="stylesheet" href="/resources/main.css" />
    </head>
    <body>
        <div class="center">
            <div class="answer">{{ status }}</div>
            {% if status == 'Yes' %}
              <div class="where">
                  {{ where }}
                  {{ when }}
              </div>
            {% endif %}
        </div>

        <div class="future">
            <ul>
                {% if future %}
                    {% for day in future %}
                        {% if day.type == "gamenight" %}
                            <li class="scheduled">{{ day.date.strftime("%x") }}
                              @ {{ day.location }}.</li>
                        {% elif day.type == "invites" %}
                            <li>{{ day.date.strftime("%x") }}:
                                {{ day.invitations }}.
                            </li>
                        {% else %}
                            <li>{{ day.date.strftime("%x") }}:
                                <span class="missing">None yet.</span></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            <li class="scheduled"><a href="/invite">Invite...</a></li>
            </ul>
        </div>

        <div class="footer">Updated: {{ updated }}<br/>
            Add to your calendar: <a href="http://www.google.com/calendar/ical/peeron.com_891c1b09588cjk5v1md00phups%40group.calendar.google.com/public/basic.ics">ICS file</a> <a href="http://www.google.com/calendar/embed?src=peeron.com_891c1b09588cjk5v1md00phups%40group.calendar.google.com&ctz=America/Los_Angeles">Google Calendar</a>
        </div>

    </body>
{% endautoescape %}
{# vim: set ts=4 sts=4 sw=4 et: #}
</html>
