{% extends "base.html" %}
{% block title %}Offer to host gamenight{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <form>
                <fieldset>
                     <legend>Invite Gamenight</legend>
                     <label for="when">When</label><input id="when" name="when" type="text" />
                     <span class="help-block">Date and time.</span>
                     <label for="where">Where</label><input id="where" name="where" type="text" />
                     <span class="help-block">Name the house, or if people might not know it, specify the address.</span>
                     <label for="notes">Notes</label><input id="notes" name="notes" type="text" />
                     <span class="help-block">Anything else you'd like to tell us.</span>
                     <label for="priority">Priority</label>
                         <select name="priority" id="priority">
                             <option selected>Can</option>
                             <option>Want</option>
                             <option>Insist</option>
                         </select></li>
                     <span class="help-block">How important is it for you to host this time?</span>
                     <button type="submit" class="btn">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="span6">
            {% if invitations %}
                <legend>Current invitations</legend>
                <ol>
                    {% for invite in invitations %}
                        <li>
                            {{ invite.date }} {{ invite.time }} @
                            {{ invite.location }} ({{ invite.priority }}).
                            {% if invite.notes %}
                                <br />{{ invite.notes }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
{% endblock %}
