.center {
    position: absolute;
    top: 40%;
    left: 30%;
}

.answer {
    font-size: 500%;
    text-align: center;
    text-transform: capitalize;
    width: 50%;
}

.where {
    text-align: justify;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    color: gray;
    font-size: 80%;
}

.footer a {
    text-decoration: none;
    color: #0000b0;
}

.msg {
    width: 100%;
    text-align: center;
    font-color: red;
}

.future {
    font-size: 80%;
    color: gray;
    position: absolute;
    right: 1%;
    bottom: 0;
}

li {
    list-style-type: none;
}
