{{ define "Title" }}Offer to host gamenight{{ end }}
{{ define "Content" }}
<div class="container my-5">
    <p>We're trying to make it easier to schedule and know where gamenight is
    going to be every week, and know earlier when one is scheduled.</p>
    <p>If you want to host gamenight, please go to the <a href="/invite">invite
      page</a>, enter when and where you'd like to host, and select how
    important it is to you to host at that time. The idea is, sometimes you
    might be saying "I want there to be a gamenight, and I'm happy to volunteer
    my house for that." Some other times, there's a particular reason you
    <strong>want</strong> to host gamenight, and you should indicate that.</p>
    <p>When it's time to schedule a gamenight (usually around Tuesday morning),
    the system will try to pick the person who wanted to host that week's
    gamenight most. If no one volunteered to host, it will send out an email to
    people who have asked for it, suggesting they perhaps host.</p>
</div>
{{ end }}
{{ template "base.html" . }}
