<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ template "Title" }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/resources/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{ if eq .Base.Tab "invite" }} active" aria-current="page{{ end }}" href="/invite">Invite</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{ if eq .Base.Tab "schedule" }} active" aria-current="page{{ end }}" href="/schedule">Schedule</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            {{- if .Base.User.Superuser }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle{{ if eq .Base.Tab "admin" }} active" aria-current="page{{ end }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item{{ if eq .Base.Subtab "config" }} active" aria-current="item{{ end }}" href="/config">Configuration</a></li>
                <li><a class="dropdown-item" href="/tasks/schedule">Schedule</a></li>
                <li><a class="dropdown-item" href="/tasks/nag?email=first">Send first email</a></li>
                <li><a class="dropdown-item" href="/tasks/nag?email=second">Send second email</a></li>
                <li><a class="dropdown-item" href="/debug">Debug</a></li>
              </ul>
            </li>
            {{- end }}
            {{- if .Base.User.Email }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle{{ if eq .Base.Tab "profile" }} active" aria-current="page{{ end }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Base.User.Name }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item{{ if eq .Base.Tab "profile" }} active" aria-current="item{{ end }}" href="/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                </ul>
              </li>
            {{- end }}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      {{ with .Base.Msg }}
      <div class="alert alert-success" role="alert">
        {{ . }}
      </div>
      {{ end }}
      {{ with .Base.Error }}
      <div class="alert alert-danger" role="alert">
        {{ . }}
      </div>
      {{ end }}
    </div>

    {{ block "Content" . }}Content not loaded!{{ end }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/resources/script.js"></script>
  </body>
</html>
