{{ define "Title" }}Edit Configuration{{ end }}
{{ define "Content" }}
<div class="container my-5">
  <h2>Configuration</h2>
  <form method="POST" action="/config">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="config-key">Key</th>
          <th scope="col" class="config-value">Value</th>
          <th scope="col" class="config-delete">Delete</th>
        </tr>
      </thead>
      <tbody>
        {{- range $name, $val := .Config }}
          <tr>
            <td class="config-key">{{ $name }}</td>
            <td class="config-value">
              <span class="editable-value-display" id="display-{{ $name }}">
                {{ $val }} <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5v-.5h-.5a.5.5 0 0 1-.5-.5v-.5h-.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </span>
              <input type="text" class="form-control editable-value-input d-none"
                     name="config_{{ $name }}" value="{{ $val }}" id="input-{{ $name }}">
            </td>
            <td class="config-delete"><input class="form-check-input" type="checkbox" name="deleteKeys" value="{{ $name }}" id="del_{{ $name }}"></td>
          </tr>
        {{- end }}
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-danger mb-3" name="action" value="delete">Delete Selected</button>
    </div>

  <h3>Add New Key/Value Pair</h3>
    <div class="col-md-5">
      <label for="new_name" class="visually-hidden">New Key</label>
      <input type="text" class="form-control" id="new_name" name="new_name" placeholder="Key">
    </div>
    <div class="col-md-5">
      <label for="new_value" class="visually-hidden">New Value</label>
      <input type="text" class="form-control" id="new_value" name="new_value" placeholder="Value">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" name="action" value="add">Save Changes</button>
    </div>
  </form>
</div>
{{ end }}
{{/* vim: set ts=4 sts=4 sw=4 et: */}}
{{ template "base.html" . }}
