{{ define "Title" }}Edit Configuration{{ end }}
{{ define "Content" }}
<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" method="post">
            {{ range $name, $val := .Config }}
                <div class="control-group">
                    <label class="control-label" for="config_{{ $name }}">{{ $name }}
                    {{ if eq (index $.Updated $name) "yes" }}
                        <span class="label label-success">Updated</span>
                    {{ else if eq (index $.Updated $name) "failed" }}
                        <span class="label label-danger">Failed</span>
                    {{ end }}</label>
                    <div class="controls">
                        <input type="text" id="config_{{ $name }}"
                               name="config_{{ $name }}" value="{{ $val }}"/>
                    </div>
                </div>
            {{ end }}
            <div class="control-group">
                <div class="controls">
                     <button type="submit" class="btn">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{ end }}
{{/* vim: set ts=4 sts=4 sw=4 et: */}}
{{ template "base.html" . }}
