<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Is there a game night this week?</title>
        <link type="text/css" rel="stylesheet" href="/resources/main.css" />
        <meta property="og:title" content="Is there a game night this week?" />
        {{ with .Current }}
            {{ if eq .Status "Yes" }}
            <meta property="og:description" content="Yes! {{ .Location }} - {{ .When.Format "Monday, 02/03 at 3:04pm" }}{{ if ne .Notes "" }} - {{ .Notes }}{{ end }}" />
            {{ else }}
                <meta property="og:description" content="{{ .Status }}" />
            {{ end }}
        {{ end }}
    </head>
    <body>
        {{ with .Current }}
            <div class="center">
                <div class="answer">{{ .Status }}.</div>
                {{ if eq .Status "Yes" }}
                <div class="where">
                    {{ .Location }},
                    {{ .When.Format "Monday, 02/03 at 3:04pm" }}
                    {{ if ne .Notes "" }}<br />{{ .Notes }}{{ end }}
                </div>
                {{ end }}
            </div>
        {{ end }}

        <div class="future">
            <ul>
                {{ if .Future }}
                    Upcoming invitations:
                    {{ range $day := .Future }}
                        {{ if eq $day.Type "gamenight" }}
                            <li class="scheduled">{{ $day.When.Format "2006-01-02" }}
                              @ {{ $day.Location }}.</li>
                        {{ else if eq $day.Type "invite" }}
                            <li>{{ $day.When.Format "2006-01-02" }}:
                                {{ $day.Owner }} @ {{ $day.Location }}
                            </li>
                        {{ else }}
                            <li>{{ $day.When.Format "2006-01-02" }}:
                                <span class="missing">None yet.</span></li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            <li class="scheduled"><a href="/invite">Invite...</a></li>
            </ul>
        </div>

        <div class="footer">Updated: {{ .Updated.Format "2006-01-02 3:04 PM" }}<br/>
            Add to your calendar:
            <a href="http://www.google.com/calendar/embed?src={{ .CalendarID }}&ctz=America/Los_Angeles">Google Calendar</a>
        </div>

    </body>
{{/* vim: set ts=4 sts=4 sw=4 et: */}}
</html>
