{{ define "Title" }}Gamenight host profile{{ end }}
{{ define "Content" }}
<div class="container my-5">
  <h2>{{ .Profile.ID.Name }}
    {{- if .Profile.Superuser }} <span class="badge bg-primary align-middle">Admin</span>{{ end -}}
  </h2>
  <form method="POST" action="/profile">
    {{- if .Base.User.Superuser }}
      <input type="hidden" id="edit" name="edit" value="{{ .Profile.ID.Name }}">
    {{- end }}
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" value="{{ .Profile.ID.Name }}" readonly>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ .Profile.Name }}">
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Default Location</label>
      <input type="text" class="form-control" id="location" name="location" value="{{ .Profile.DefaultLocation }}">
    </div>
    <div class="{{ if eq .Highlight "remind" }}highlight{{ end }} mb-3 form-check">
      <input type="checkbox" {{ if .Profile.Emails }}checked="checked"{{ end }} class="form-check-input" id="nag" name="nag">
      <label class="form-check-label" for="nag">Email when a gamenight needs scheduling</label>
    </div>
    <div class="{{ if eq .Highlight "schedule" }}highlight{{ end }} mb-3 form-check">
      <input type="checkbox" {{ if .Profile.Notify }}checked="checked"{{ end }} class="form-check-input" id="notify" name="notify">
      <label class="form-check-label" for="notify">Email me when a gamenight is scheduled</label>
    </div>
    <div class="{{ if eq .Highlight "invite" }}highlight{{ end }} mb-3 form-check">
      <input type="checkbox" {{ if .Profile.Invite }}checked="checked"{{ end }} class="form-check-input" id="invite" name="invite">
      <label class="form-check-label" for="invite">Add me to the invite for new gamenights</label>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  {{ if .Base.User.Superuser -}}
  <h2 class="mt-5">Other Users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Needs Scheduling Email</th>
        <th scope="col">Scheduled Email</th>
        <th scope="col">Add to New Invites</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{- range $u := .Users }}
        <tr>
          <td>{{ $u.Name }}</td>
          <td>{{ $u.ID.Name }}</td>
          <td>{{ if $u.Emails }}✅{{ else }}❌{{ end }}</td>
          <td>{{ if $u.Notify }}✅{{ else }}❌{{ end }}</td>
          <td>{{ if $u.Invite }}✅{{ else }}❌{{ end }}</td>
          <td><a class="btn btn-sm btn-secondary" href="/profile?edit={{ $u.ID.Name }}">Edit</a></td>
        </tr>
      {{- end }}
    </tbody>
  </table>
  {{- end }}
</div>
{{ end }}
{{ template "base.html" . }}
{{/* vim: set ts=4 sts=4 sw=4 et: */}}
