{{ define "Title" }}Gamenight host profile{{ end }}
{{ define "Content" }}
<div class="row-fluid">
    <div>
        <form method="post">
            <fieldset>
                <legend>Profile{{ if .User.Superuser }}: {{ .Profile.ID.Name }}{{ end }}</legend>
                <table>
                    <tr><th>Email"</th><td>{{ .Profile.ID.Name }}</td></tr>
                    <tr><th><label for="name">Name</label></th>
                        <td><input id="name" name="name" type="text" value="{{ .Profile.Name }}" /></td></tr>
                    <tr><th><label for="location">Default location</label></th>
                        <td><input id="location" name="location" type="text" value="{{ .Profile.DefaultLocation }}" /></td></tr>
                    <tr><th><label for="nag">Get an email if gamenight needs scheduling?</label></th>
                        <td><input type="checkbox" name="nag" id="nag" {{ if .Profile.Emails }} checked="checked" {{ end }} /></td></tr>
                        <tr><th><label for="notify">Get an email when a gamenight is scheduled?</label></th>
                            <td><input type="checkbox" name="notify" id="notify" {{ if .Profile.Notify }} checked="checked" {{ end }} /></td></tr>
                {{ if .User.Superuser }}
                    <tr><th>
                        <input type="hidden" id="pid" name="pid" value="{{ .Profile.ID.Name }}" />
                        <label for="admin">Admin</label></th>
                        <td><input type="checkbox" name="admin" id="admin" {{ if .Profile.Superuser }} checked="checked" {{ end }} /></td></tr>
                {{ end }}
                </table>
                <button type="submit" class="btn">Save</button>
            </fieldset>
        </form>
    </div>
    <div class="span6">
        {{ if and .User.Superuser .Users }}
            <form method="get">
                <legend>Users:</legend>
                <table width="100%">
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Nag emails</th>
                        <th>Notify emails</th>
                    </tr>
                    {{ range $u := .Users }}
                    <tr><td>{{ $u.ID.Name }}</td>
                        <td>{{ $u.Name }}</td>
                        <td>{{ $u.DefaultLocation }}</td>
                        <td>{{ if $u.Emails }}Enabled{{ else }}Disabled{{ end }}</td>
                        <td>{{ if $u.Notify }}Enabled{{ else }}Disabled{{ end }}</td>
                        <td><button type="submit" class="close" id="edit" name="edit" value="{{ $u.ID.Name }}">edit</button></td>
                        </tr>
                    {{ end }}
                </table>
        </form>
        {{ end }}
    </div>
</div>
{{ end }}
{{ template "base.html" . }}
{{/* vim: set ts=4 sts=4 sw=4 et: */}}
