{{ define "Title" }}Upcoming gamenights{{ end }}
{{ define "Content" }}
<div class="row-fluid">
    <div class="span12">
        {{ range $day := .Days }}
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="muted"> {{ $day.Date }} </h3>
                    <ul>
                        {{ if and $day.Scheduled $day.Scheduled.Owner }}{{ with $day.Scheduled }}
                            <li class="scheduled">
                                {{ .Owner.Name }}{{if $.Base.User.Superuser }}
                                    ({{.Owner.Email }})
                                {{- end }}:
                                {{ .When.Format "01/02/2006 3:04pm"  }} @ {{ .Location }}
                                {{ if .Notes }}<br/>{{ .Notes }}{{ end }}
                                {{ if $.Base.User.Superuser }}
                                <br/>EventID: <code>{{ .EventID }}</code>
                                {{ end }}
                            </li>
                        {{ end }}{{ else }}
                            <li>None scheduled</li>
                        {{ end }}
                        {{ range $invite := $day.Invitations }}
                            <li>
                                {{ $invite.Owner.Name }}{{if $.Base.User.Superuser }}
                                    ({{.Owner.Email }})
                                {{- end }}:
                                {{ $invite.When.Format "01/02/2006 3:04pm"  }}
                                @ {{ $invite.Location }}
                                ({{ $invite.PriorityText }})
                                {{ if $invite.Notes }}: {{ $invite.Notes }}{{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ else }}
        No gamenights scheduled, perhaps go
        <a href="/invite">add a new invitation</a>?
        {{ end }}
    </div>
</div>
{{ end }}
{{ template "base.html" . }}
{{/* vim: set ts=4 sts=4 sw=4 et: */}}
