{{template "base.html" .}}

{{define "Title"}}Terms of Service{{end}}

{{define "Content"}}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Terms of Service</h1>
      <p>Last Updated: 2026-02-20</p>

      <h2>1. Introduction</h2>
      <p>Welcome to Game Night! These Terms of Service are required by Google before they approve using their login system, so here they are.</p>

      <h2>2. Use of Your Information</h2>
      <p>We do not sell or rent your personal information to anyone (duh). The only piece of data we even look at is just your email address, and we use that...</p>
      <ul>
        <li>... To identify you when you log in to the application.</li>
        <li>... To send you emails that you have explicitly opted in to receive, such as:
          <ul>
            <li>Invitations to new game night events.</li>
            <li>Notifications when a game night has not yet been scheduled.</li>
          </ul>
        </li>
        <li>... and that's it.</li>
      </ul>

      <h2>3. Contact Us</h2>
      <p>If you have any questions about these Terms, email gamenight@peeron.com.</p>
    </div>
  </div>
</div>
{{end}}
